<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="row">
      <div class="col-md-3">
        <strong>积分：</strong>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <!--<%= current_user.name %>-->
        <strong>100000</strong>
      </div>
    </div>
  </aside>

  <div class="col-md-8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>发布微博 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
	