<% provide(:title, "修改食品营养成分") %>
<h1><%= @nutrition_fact.name %></h1>

<div class="form-group">
  <%= form_for(@nutrition_fact) do |f| %>
	<%= render 'fields', f: f %>
	<div class="row">
	  <div class="col-lg-1">
	    <strong>创建人：</strong>
	  </div>
	  <div class="col-lg-2">
	    <%= @nutrition_fact.created_by_user.name %>
	  </div>
	  <div class="col-lg-1 col-lg-offset-3">
	    <strong>修改人：</strong>
	  </div>
	  <div class="col-lg-2">
		<%= current_user.name %>
	  </div>
	  <div class="col-lg-3">
	    <%= f.submit "保存", class: "btn btn-large btn-primary" %>
	  </div>
	</div>
  <% end %>
</div>
<%= link_to '显示', @nutrition_fact %> |
<%= link_to '返回', nutrition_facts_path %>
