<% provide(:title, '营养成分列表') %>
<h1>营养成分列表</h1>
<%= will_paginate %>
<table class="table table-striped">
  <tr>
    <th>编码</th>
    <th>名称</th>
    <th>数量</th>
    <th>每份数量</th>
    <th>份数</th>
    <th>能量</th>
    <th>(% NRV)</th>
    <th>蛋白质</th>
    <th>(% NRV)</th>
    <th>脂肪</th>
    <th>(% NRV)</th>
    <th>碳水化合物</th>
    <th>(% NRV)</th>
    <th>盐</th>
    <th>(% NRV)</th>
    <th>创建人</th>
    <th>修改人</th>
    <th></th>
    <th><%= link_to '新增', new_nutrition_fact_path %></th>
    <th></th>
  </tr>
  <tbody>
    <ul class="nutrition_facts">
      <%= render @nutrition_facts %>
    </ul>
  </tbody>
</table>
<%= will_paginate %>
<p><%= link_to '新增', new_nutrition_fact_path %></p>