<% provide(:title, "营养成分 — #{@nutrition_fact.name}") %>
<h1>营养成分 — <%= @nutrition_fact.name %></h1>

<div class="row">
  <div class="col-lg-2">
    <strong>编码（条码）：</strong>
  </div>
  <div class="col-lg-2">
    <%= @nutrition_fact.code %>
  </div>
  <div class="col-lg-2">
    <strong>名称：</strong>
  </div>
  <div class="col-lg-6">
    <%= @nutrition_fact.name %>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <strong>数量（重量或容积）：</strong>
  </div>
  <div class="col-lg-2">
    <%= @nutrition_fact.size %>&nbsp;<%= @nutrition_fact.size_unit.name %>(<%= @nutrition_fact.size_unit.code %>)
  </div>
  <div class="col-lg-2">
    <strong>每份数量（基准数量）：</strong>
  </div>
  <div class="col-lg-2">
    <%= @nutrition_fact.serving_size %>&nbsp;<%= @nutrition_fact.size_unit.name %>(<%= @nutrition_fact.size_unit.code %>)
  </div>
  <div class="col-lg-2">
    <strong>份数(数量/每份数量)：</strong>
  </div>
  <div class="col-lg-2">
    <%= @nutrition_fact.servings %>&nbsp;份
  </div>
</div>
<p> 
  <br>
</p>
<table class="table table-striped table-bordered">
  <tr> 
    <th>项目<br>(Item)</th>
    <th>每 <%= @nutrition_fact.serving_size %>&nbsp;<% @nutrition_fact.size_unit.name %><br>
      (per <%= @nutrition_fact.serving_size %>&nbsp;<% @nutrition_fact.size_unit.code %>)</th>
    <th>单位<br>(Unit)</th>
    <th>营养素参考值 % (NRV %)</th>
  </tr> 

  <tr> 
    <td>能量 <br>(Energy)</td>
    <td><%= @nutrition_fact.energy %></td>
    <td>千焦(kJ)</td>
    <td><%= @nutrition_fact.energy_percent %>%</td>
  </tr>

  <tr> 
    <td>蛋白质 <br>(Protein)</td>
    <td><%= @nutrition_fact.protein %></td>
    <td>克(g)</td>
    <td><%= @nutrition_fact.protein_percent %>%</td>
  </tr>

  <tr> 
    <td>脂肪 <br>(Fat)</td>
    <td><%= @nutrition_fact.fat %></td>
    <td>克(g)</td>
    <td><%= @nutrition_fact.fat_percent %>%</td>
  </tr>

  <tr> 
    <td>碳水化合物 <br>(Carbohydrate)</td>
    <td><%= @nutrition_fact.carbohydrate %></td>
    <td>克(g)</td>
    <td><%= @nutrition_fact.carbohydrate_percent %>%</td>
  </tr>

  <tr> 
    <td>盐 <br>(Sodium)</td>
    <td><%= @nutrition_fact.sodium %></td>
    <td>毫克(mg)</td>
    <td><%= @nutrition_fact.sodium_percent %>%</td>
  </tr>
</table>
<div class="row">
  <div class="col-lg-1">
    <strong>创建人：</strong>
  </div>
  <div class="col-lg-2">
    <%= @nutrition_fact.created_by_user.name %>
  </div>
  <div class="col-lg-1 col-lg-offset-1">
    <strong>修改人：</strong>
  </div>
  <div class="col-lg-2">
    <% if @nutrition_fact.updated_by_user %>
      <%= @nutrition_fact.updated_by_user.name %>
    <% end %>
  </div>
</div>
<p> 
  <br>
  <%= link_to '编辑', edit_nutrition_fact_path(@nutrition_fact) %> |
  <%= link_to '返回列表', nutrition_facts_path %>
</p>
